{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.date_reclamation) }}
    {{ form_widget(form.date_reclamation) }}
    <div style="color: red;">{{ form_errors(form.date_reclamation) }}</div>
</div>

<div class="form-group">
    {{ form_label(form.type) }}
    {{ form_widget(form.type) }}
    <div style="color: red;">{{ form_errors(form.type) }}</div>
</div>

<div class="form-group">
    {{ form_label(form.message) }}
    {{ form_widget(form.message) }}
    <div style="color: red;">{{ form_errors(form.message) }}</div>
</div>

<button class="btn">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
