{% extends 'baseFront.html.twig' %}
    {% block body %}

    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Liste des heberegements</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">


            {% for hebergement in hebergements %}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <a href="" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{ asset('uploads/' ~ hebergement.photo) }}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{{ path('hebergementDetails', {'id': hebergement.id}) }}" title="More Details">Type :{{ hebergement.type }} | {{ hebergement.prixNuit }} Tnd</a></h4>
                  <h3>Nom :{{ hebergement.nom }}</h3>
                  <p>{{ hebergement.description }}</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}


          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->
{% endblock %}
